/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

a,p,h1,h2,h3{
	font-family: "Times New Roman", Times, serif;
}

body {
	line-height: 1;
	background-color: #f4f4f4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr{
	border: 1px solid #c0c0c0;
	margin-top: 46px;
}

.boldu{
	border: 3px solid #000;
	margin-top: 5px;
	margin-bottom: 10px;
}

.clear{
	clear: both;
}
.box_bar{
	margin-top:100px;
	background: #116484;
   height: 425px;
   width:250px;
   margin-left:550px;
 
}
#image_top{
	float:left;
	margin-top:84px;
	margin-left:105px;
	
	
}
#image_top img{
	width: 38px;
height: 37px;
}
.main_title{
	margin-top:30px;
	 margin-left:60px;
	position:absolute;
	
}
.blank_box{
	position:absolute;
	margin-top:125px;
	 margin-left:40px;
}
.blank_box button{
	position:absolute;
	margin-top:20px;
	 margin-left:0px;
	 background:#1567D1;
	 border: none;
	
}
.forgot_title
{
	margin-top:250px;
	 margin-left:86px;
	position:absolute;
}
.signup_title{
		margin-top:355px;
	 margin-left:75px;
	position:absolute;
	margin-bottom:30px;
}